<!--<div ng-controller="ctrlLabourCost">-->
<!--<h2>Labour cost report</h2>-->

<!--<div class="list-table">-->
<!--<div class="header-row">-->
<!--<div class="col-25">Example heading</div>-->
<!--</div>-->

<!--<div class="body-row">-->
<!--<div class="col-25">-->
<!--&lt;!&ndash;{{items | json}}&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<div ng-controller="ctrlLabourCost">
    <h2>Labour cost report</h2>

    <div class="divTable">
        <div class="tableBody">
            <!--Table Header-->
            <div class="tableRow tableHead">
                <div>Payroll<br>Provider</div>
                <div>Worker</div>
                <div>Compliance<br>Score</div>
                <div class="align-right">Gross<br>Pay (&#8356;)</div>
                <div class="align-right">Payroll<br>Admin (&#8356;)</div>
                <div class="align-right">Labour<br>Cost</div>
                <div>Work<br>Force</div>
            </div>

            <!--Table Body -->
            <div class="tableRow" ng-repeat="item in items">
                <div class="fw-400">{{item.name}}</div>
                <div class="fs-28 fw-300">{{item.workerCount}}</div>
                <div class="fs-15 fw-400 divider-right">{{item.complianceStats | percentage:1}}</div>
                <div class="align-right fs-28 dark-text">{{item.grossPayTotal}}</div>
                <div class="align-right">{{item.payrollAdminTotal ? item.payrollAdminTotal:'-'}}</div>
                <div class="align-right light-text fs-28 divider-right">{{item.labourCostTotal}}</div>
                <div class="fs-15 fw-400">{{item.workerCount | percentage:1}}</div>
            </div>

            <div class="list-divider-div">list-divider-div</div>


            <div class="list-divider-div">list-divider-div</div>
            <!--Table Footer-->
            <div class="tableRow divTableFoot">
                <div class="align-center">TOTAL</div>
                <div class="fs-28">867</div>
                <div class="fs-15 fw-400 divider-right">83%</div>
                <div class="align-right fs-28">1,290,475</div>
                <div class="align-right">-</div>
                <div class="align-right fs-28 divider-right">1,290,475</div>
                <div class="fs-15 fw-500">100.0%</div>
            </div>
        </div>
    </div>

</div>